<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Prato do Dia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div auto-hide="true" *ngFor="let p of pratodia">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{p.nome}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-img src="{{p.img}}"></ion-img>
        <ion-text>{{p.descricao}}</ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-button color='secondary'>
    <ion-title><ion-icon name="cart"></ion-icon> <s>R$120</s> R$75,00</ion-title>
  </ion-button>
</ion-footer>
