ion-menu-button {
  color: var(--ion-color-primary)
}

ion-toolbar {
  text-align: center;
}


.buttons {
  border-radius: 13px;
  margin: 10px 10px 10px 10px;
  text-align: center;
  font-size: 850%;
  float: left;
  border: 1px solid;
}

p {
  text-align: center;
}
